<style type='text/css'> width: 100%;
@-webkit-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-moz-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-ms-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-moz-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@-o-keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@keyframes uil-ellipsis {
  0% {
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
.uil-ellipsis-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ellipsis-css .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 70px;
  opacity: 0;
  text-align: center;
  -ms-animation: uil-ellipsis 1s linear infinite;
  -moz-animation: uil-ellipsis 1s linear infinite;
  -webkit-animation: uil-ellipsis 1s linear infinite;
  -o-animation: uil-ellipsis 1s linear infinite;
  animation: uil-ellipsis 1s linear infinite;
}
.uil-ellipsis-css .circle > div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0px;
}
.uil-ellipsis-css .circle:nth-of-type(2n+1) > div {
  background: #403d3d;
}
.uil-ellipsis-css .circle:nth-of-type(2n) > div {
  background: #808a80;
}
.circle:nth-of-type(1) {
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.circle:nth-of-type(2) {
  -ms-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.circle:nth-of-type(3) {
  -ms-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.circle:nth-of-type(4) {
  -ms-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
 </style> <div class='uil-ellipsis-css' style='-webkit-transform:scale(0.15)'><div class="circle"><div></div></div><div class="circle"><div></div></div><div class="circle"><div></div></div><div class="circle"><div></div></div></div>