



.pbar-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index : 1001;
  background-color: rgba(0,0,0,0.6);
}

.shiny-busy .pbar-panel {
  background: none;
}

.pbar-title {
font-size : 18px;
font-weight : 500;
}

.pbar-text {
font-size : 16px;
font-weight : 200;
}

.pbar-hidden {
  position: absolute !important;
  top: -9999px !important;
}


.pbar-spinner {
width:16px;
height:16px;
vertical-align:sub;
}


.pbar-container {
  height: 100%;
}

.pbar-content {
  position: absolute;
  height: 500px;
  width: 100%;
  top: 33%;
  bottom: 33%;
}

.pbar-bar-container {
   width: 100%;
    border: 1px solid #0F0;
    height: 7px;
    margin-bottom: 15px;
}

.pbar-bar {
width:0;
height:100%;
background-color : #0F0;
transition: width 1s;
-webkit-transition: width 1s; /* Safari */
transition-timing-function: linear;
-webkit-transition-timing-function: linear;
}


.pbar-text {
text-size:18px;
color : #0F0;
}


.pbar-logo {
margin-left:auto;
margin-right:auto;
width:100%;
height:20%;
}

.pbar-title {
text-size:18px;
color: #0f0;
}

.pbar-options-container{
  width: 100%;
  text-align: right;
  display: block;


}

.pbar-options-content {
  font-size: 20px;
}


.pbar-options {
  display: none;
  margin-top: -10px;
  width: 33%;
  position: absolute;
  right: 0px;
  padding: 10px;
}

.pbar-options-content:hover .pbar-options {
  display:block;
}

