#
# Misc
#
.secret*
TODO*

#
# R
#
.Rproj.user
.Rhistory
.RData
restart.txt 
progress_stop 

#
# macOS
#
**/.DS_Store


#
# Local archives 
#
archives
archive
_archives
_shared
tests/_output
exported
*/**/_build_cache*

replay/**/out

#
# Packer
#
packer/packer_cache
packer/output*
packer/*.log

#
# GRASS
#
_dbgrass

# VIM
# 
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*~
Session.vim

#
# AM5 cache language 
# - Note: store this in DB. Needed before the browser part is ready.
# 
.language

#
# Secrets : actions, etc..
#
.secrets

#
# Electron built
# 
electron/out/*
electron/dist/*

#
# Archives
#
*/**/*.tar.gz

#
# node
#
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/node_modules/
