
#
# R
#
.Rproj.user
.Rhistory
.RData

#
# macOS
#
.DS_Store


#
# Local archives 
#
archives
archive
_archives
_shared
exported
*/**/_build_cache

#
# Packer
#
packer/packer_cache
packer/output*
packer/*.log

#
# GRASS
#
_dbgrass

# VIM
# 
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*~
Session.vim

#
# AM5 cache language 
# - Note: store this in DB. Needed before the browser part is ready.
# 
.language

#
# Docker exported image 
# - For electron launcher offline init.
#
docker/exported/*
electron/app/docker/* 
electron/out/


#
# node
#
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/node_modules/
