# Ignore specific folders, relative to the root.
# Paths ending with * do not exclude .gitkeep files.

/dist
/out
app/modules/docker/image/accessmod.docker.gz
node_modules
.env
.DS_Store
yarn-error.log

# Preserve folders with .gitkeep files.
!**/.gitkeep
