



html {
  height:100%;
}


body {
  min-height:100%;
}


button, .btn,.btn-danger,.btn-success, .btn-danger {
/*width:200px;*/
width:95%;
height:30px;
}

/*
button .btn {
width:200px;
height:30px;
}
*/

/*http://jsfiddle.net/32f5R/*/
.btn-browse {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.btn-browse input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.wide-table {
width:100%;
font-size: 70%;
overflow-x: hidden;
}

.well input[type="text"], .well input[type="number"], .well select {
width: 95%;
height: 30px;
box-sizing: border-box;
}

.div-table {
  display: table;
  width: 80%;
}
.div-table-vert-center {
  display: table-cell;
  vertical-align: bottom;
}




/*
label.btn.btn-success.browse-btn{
width:200px;
height:30px;
}

input.shiny-bound-input {
width:100%;

}
.tab-content {
  min-height:1000px; /* avoid overlaping dropdown menu in tab

}
*/


/* test :keep data table on same level as scroll position*/
.table-fixed {
position: fixed;
right:5%;
left:40%;
/*box-sizing: border-box;*/
/*width:100%;*/
}

.selectize-control {
width:100%;
display : block;
}
.selectize-control.multi .selectize-input .item{
display:block;
/*box-sizing:border-box;*/
}




/*
label.control-label, selectize-control.multi .item {
  width:100%;
  display:block;
}
*/
/*

.selectize-control.single {
width:100%;
height:30px;
box-sizing:border-box;
}

*/

/*
input {
width:95%;
}
*/
.input-error {
  border-color: rgb(205,52,34);
  box-shadow: inset 0 1px 1px rgba(205,52,34, 0.075), 0 0 8px rgba(205,52,34, 0.6);
}

.input-ok {
  border-color: rgb(49,172,0);
  box-shadow: inset 0 1px 1px rgba(49,172,0,0.075), 0 0 8px rgba(49,172,0,0.6);
}
.input-warning {
  border-color: rgb(249, 235,200);
  box-shadow: inset 0 1px 1px rgba(249, 235,200,0.075), 0 0 8px rgba(249, 235,200,0.6);
}

.input-info {
  border-color: rgb(18,112,200 );
  box-shadow: inset 0 1px 1px rgba(18,112,200,0.075), 0 0 8px rgba(18,112,200,0.6);
}








.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
