



.am_dbl_sort_placeholder {
  border: 1px solid #999;
  background-color: #333 ;
  border-style: inset;
  min-height: 60px;

}

.am_dbl_srt_green {
  padding: 5px;
  margin: 5px;
  min-height: 45px;
  border: 1px solid green;
  box-sizing: content-box;
}






.am_dbl_srt_box {
    min-width: 100%;
    position: relative;
    padding: 5px;
    float:left;
    margin:2px;
    min-height: 45px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-repeat: no-repeat, no-repeat;
    background-image: 
    url(../img/input-border-left.png),
    url(../img/input-border-left.png),
    url(../img/input-border-left.png),
    url(../img/input-border-left.png);
    background-position: 
    top left, 
    top right,
    bottom right,
    bottom left;
}
.am_dbl_srt_box:before {
    content: "Empty. Drag and drop items here.";
    position: absolute;
    margin-top:11px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
 }

.am_dbl_srt_red {
  padding: 5px;
  margin: 5px;
  min-height: 45px;
  border:1px solid #dd4b39;
  box-sizing: content-box;
}
.am_dbl_srt_green:before{
  content:"List of stack items for ordering and merging :";
  color: #666;
}
.am_dbl_srt_red:before{
  content:"List of stack items to skip :";
  color: #666;
}
.am_dbl_srt_item {
  cursor: move;
}


.am_dbl_srt_item:before {
  content: "\f0dc";
  margin-right: 12px;
  font-family: "FontAwesome";
  position: relative;
}


/*.ui-sortable-placeholder {*/
/*border: 2px dashed #aaa;*/
/*background: #ccc;*/
/*}*/


/*.ui-sortable-placeholder:after {*/
/*content: "<- now this *is* exciting!"; */
/*color: green;*/
/*}*/

/*.am_db_srt_input_container {*/
/*display: inline-block;*/
/*width: 100%;*/

/*}*/


/*.am_dbl_srt_input {*/
/*border: 1px solid #eee;*/
/*list-style-type: none;*/
/*padding: 5px 0 0 0;*/
/*margin-right: 10px;*/
/*min-height: 45px;*/

/*}*/

/*.am_dbl_srt_input li.ui-state-default {*/
/*margin: 5px 5px 5px 5px;*/
/*padding: 5px 5px 5px 5px;*/
/*border-radius: 3px;*/
/*border: 1px outset #A7A3A3;*/
/*cursor: move;*/
/*border-style: outset;*/
/*background: #F5F5F5;*/
/*}*/

/*.am_dbl_srt_input li.ui-state-default:after {*/
/*content: "\f0c9";*/
/*font-family: "FontAwesome";*/
/*position: relative;*/
/*float: right;*/
/*color: #000;*/
/*}*/

/*.am_dbl_srt_input li:focus {*/
/*background: #3CB0D6;*/
/*color : white;*/
/*}*/

/*.am_dbl_srt_placeholder {*/
/*border: 1px dotted #333;*/
/*min-height: 30px;*/
/*background-color: #FFF;*/
/*}*/


