

html, body {
  height: 100%;
  margin: 0;
}

a {
  cursor:pointer;
}



button, .btn,.btn-danger,.btn-success, .btn-danger {
  /*width:200px;*/
  width:100%;
  /* height:30px;*/
}



.w6-100 {
  min-width:16.667%;
} 


.content-wrapper {
  padding: 20px;
  background-color:#FFFFFF;
}


.skin-black .main-header>.logo {
  background-color: #000;
  color: #FFF;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #222;
}


.skin-black .main-header>.logo:hover {
  background-color: #000;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #000000;
}



.btn-inline {
  width:inherit;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1px;
  /*font-weight: 300;*/
}


.shiny-input-container:not(.shiny-input-container-inline){
  width : 100%;
}



.btn-browse {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.btn-browse input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

label.btn input[type="file"] {
  position: fixed;
  top: -1000px;
}

.btn-txt-left {
  text-align: left;
}

.btn {
  white-space: normal;
  border-radius:0px;
}

.panel-group .panel {
  border-radius:0px;
}


.selectize-control {
  width:100%;
  display : block;
}
.selectize-control.multi .selectize-input .item{
  display:block;
  /*box-sizing:border-box;*/
}

.am-square {
  /* padding-top:0px;*/
  /*background-color:#F9F9F9;*/
  background-color:#FFFFFF;
  border-radius: 0px;
  border:0px;
  box-shadow: 0 0 0 0;
  /*
  border-color:lightgray;*/
}

.amCenterTitle{
  text-align: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.amRowTable {
  margin-left:30px;
  margin-right:0px;
  margin-top:30px;
}


.am-tab-content {
  margin-top:30px;
}

.amTableMargin {
  margin-left:20px;
}

#projName {
  text-transform: uppercase;
}




.am-progress-bar {
  padding: 5px 0px 5px 0px;
  background: #333;
  width: 90%;
  border-radius: 25px;
}

.am-progress-container {
  border: 1px solid #E3E3E3;
  background: #F1F1F1;
  width: 100%;
  border-radius: 25px;
}


/* map css*/

#amPreviewMap {
  cursor:pointer;
}

#am-map-project {
  background-color:white;
}


/*duplicate from next sweet alert style definition ?*/
.amSweetHelp {
  text-align: left;
}


.sweet-alert p {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-overlay {
  z-index:1400;
}


/* AccessMod modal panel*/
.panel-modal {
  z-index:9998;
}


.panel-modal-background {
  opacity:0.3; 
  background: #000; 
  width:100%;
  height:100%; 
  z-index:9999;
  top:0; 
  left: 0; 
  position:fixed;
}



.panel-modal-title {
  margin: 30px;
  text-align : center;
  font-size : x-large;
  cursor : text;
}

.panel-modal-subtitle {
  margin: 30px;
  text-align : center;
  font-size : small;
  cursor:text;

}

.panel-modal-content {
  -webkit-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  z-index:10000;
  top:10%; 
  position:fixed;
  background-color: white;
  color:#000;
  padding: 20px 20px 20px 20px;
  cursor: move;
  opacity: 1;
} 


.panel-modal-buttons {
  margin-top:20px; 
  text-align:center;
  color:#000;
}

.panel-modal-text {
  /*height:150px;*/
  /*overflow-y:hidden;*/
  /*margin-left: 20px;*/
  /*width:90%;*/
  cursor:text;
}

.panel-modal-text-container {
    /*box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;*/
}

.panel-overall {
  z-index : 100000
}

.panel-modal-text td,
.panel-modal-text th {
  border-left: 1px solid #ccc;
}
.panel-modal-text tr {
  border-bottom: 1px solid #ccc;
}



.loading-screen {
  background: #000;
  opacity : 0.6;
  top: 0px;
  width: 100%;
  bottom: 0px;
  display: block;
  position: fixed;
  z-index: 9999;
}


.loading-container {
  position: absolute;
  width: 33%;
  left: 33%;
  top: 50%;
  text-align: left;
}

.loading-item {
  padding: 5px;
  width: 99%;
}

.loading-bar-out { 
  height: 5px;
  width: 100%;
  border: 1px solid #FFF;
}

.loading-bar-in {
  width: 0px;
  height: 100%;
  background-color: #FFF;
}

.loading-bar-txt {
  color: #FFF;
  font-size: 22px;
}

.loading-bar-txt i {
  cursor: pointer;
  font-size : 20px;
  padding : 5px;
}

.shiny-busy-panel {
  top: 0px;
  width: 100%;
  right: 0px;
  height : 100%;
  position: fixed;
  z-index: -1;
  visibility: hidden;
  background-color: #000;
  opacity :0;
  -webkit-transition-property: opacity; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  -webkit-transition-delay: 1s; /* Safari */
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 1s;
}

.shiny-busy-panel-content{
  position: absolute;
  width: 33%;
  left: 33%;
  top: 50%;
  text-align: center;
}

.shiny-busy-panel p {
  font-size: 22px;
  color: #FFF;
}

.shiny-busy .shiny-busy-panel{
  z-index: 9000;
  visibility: visible;
  opacity : 0.6;
}

.loading-screen ~ .shiny-busy-panel {
  display: none;
}




