

html, body {
  height: 100%;
  margin: 0;
}

a {
  cursor:pointer;
}



button, .btn,.btn-danger,.btn-success, .btn-danger {
  /*width:200px;*/
  width:100%;
  /* height:30px;*/
}



.w6-100 {
  min-width:16.667%;
} 


.content-wrapper {
  padding: 20px;
  background-color:#FFFFFF;
}


.skin-black .main-header>.logo {
  background-color: #000;
  color: #FFF;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #222;
}


.skin-black .main-header>.logo:hover {
  background-color: #000;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #000000;
}



.btn-inline {
  width:inherit;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1px;
  /*font-weight: 300;*/
}


.shiny-input-container:not(.shiny-input-container-inline){
  width : 100%;
}



.btn-browse {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.btn-browse input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

label.btn input[type="file"] {
  position: fixed;
  top: -1000px;
}

.btn-txt-left {
  text-align: left;
}

.btn {
  white-space: normal;
  border-radius:0px;
}

.panel-group .panel {
  border-radius:0px;
}


.selectize-control {
  width:100%;
  display : block;
}
.selectize-control.multi .selectize-input .item{
  display:block;
  /*box-sizing:border-box;*/
}

.am-square {
  /* padding-top:0px;*/
  /*background-color:#F9F9F9;*/
  background-color:#FFFFFF;
  border-radius: 0px;
  border:0px;
  box-shadow: 0 0 0 0;
  /*
  border-color:lightgray;*/
}

.amCenterTitle{
  text-align: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.amRowTable {
  margin-left:30px;
  margin-right:0px;
  margin-top:30px;
}


.am-tab-content {
  margin-top:30px;
}

.tab-pane.active{
  height: 100%;
  overflow: hidden;
}

#projName {
  text-transform: uppercase;
}




.am-progress-bar {
  padding: 5px 0px 5px 0px;
  background: #333;
  width: 90%;
  border-radius: 25px;
}

.am-progress-container {
  border: 1px solid #E3E3E3;
  background: #F1F1F1;
  width: 100%;
  border-radius: 25px;
}


/* map css*/

#amPreviewMap {
  cursor:pointer;
}

#am-map-project {
  background-color:white;
}


/*duplicate from next sweet alert style definition ?*/
.amSweetHelp {
  text-align: left;
}


.sweet-alert p {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-overlay {
  z-index:1400;
}


/* AccessMod modal panel*/
.panel-modal {
  z-index:9998;
}


.panel-modal-background {
  opacity:0.9; 
  background: #FFF; 
  width:100%;
  height:100%; 
  z-index:9999;
  top:0; 
  left: 0; 
  position:fixed;
}



.panel-modal-title {
  margin: 30px;
  text-align : center;
  font-size : x-large;
  cursor : text;
}

.panel-modal-subtitle {
  margin: 30px;
  text-align : center;
  font-size : small;
  cursor:text;

}

.panel-modal-content {
  -webkit-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  z-index:10000;
  top:10%; 
  position:fixed;
  background-color: white;
  color:#000;
  padding: 20px 20px 20px 20px;
  cursor: move;
  opacity: 1;
} 


.panel-modal-buttons {
  margin-top:20px; 
  text-align:center;
  color:#000;
}

.panel-modal-text {
  /*height:150px;*/
  /*overflow-y:hidden;*/
  /*margin-left: 20px;*/
  /*width:90%;*/
  cursor:text;
}

.panel-modal-text-container {
    /*box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC;*/
}

.panel-overall {
  z-index : 100000
}

.panel-modal-text td,
.panel-modal-text th {
  border-left: 1px solid #ccc;
}
.panel-modal-text tr {
  border-bottom: 1px solid #ccc;
}



.loading-screen {
  background: #FFF;
  opacity : 0.9;
  top: 0px;
  width: 100%;
  bottom: 0px;
  display: block;
  position: fixed;
  z-index: 9999;
}


.loading-container {
  position: absolute;
  width: 33%;
  left: 33%;
  top: 50%;
  text-align: left;
}

.loading-item {
  padding: 5px;
  width: 99%;
}

.loading-bar-out { 
  height: 5px;
  width: 100%;
  border: 1px solid #000;
}

.loading-bar-in {
  width: 0px;
  height: 100%;
  background-color: #000;
}

.loading-bar-txt {
  color: #000;
  font-size: 22px;
}

.loading-bar-txt i {
  cursor: pointer;
  font-size : 20px;
  padding : 5px;
}

.shiny-busy-panel {
  position: fixed;
  background-color: #FFF;
  z-index: 9000;
  /*z-index: -1;*/
  opacity :0;
  width:100%;
  height:100%;
  top:0;
  left:0;

  -webkit-transition-property: opacity; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  -webkit-transition-delay: 2s; /* Safari */
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 2s;
  pointer-events:none;
}

.shiny-busy-panel-content{
  position: absolute;
  width: 33%;
  left: 33%;
  top: 50%;
  text-align: center;
}

.shiny-busy-panel p {
  font-size: 22px;
  color: #000;
}

.shiny-busy .shiny-busy-panel{
  /*z-index: 9000;*/
  opacity : 0.9;
  pointer-events:auto;
}

.loading-screen ~ .shiny-busy-panel {
  opacity : 0;
  pointer-events:none;
  /*display: none;*/
}


/**
* Addition to handson table
*/

.amTableMargin {
  margin-left:20px;
}

.amTableControls * {
  display:inline-block;
}

.amTableControls .handsonFiltersContainer {
  display: inline;
}

.handsonFiltersContainer > * {
  display:inline-block;
}

.handsonFiltersContainer select {
  background: none;
  border: none;
  max-width: 150px;
}
.handsonFiltersContainer input {
  height: 18px;
  margin-left: 4px;
  margin-right: 4px;
}


/* Handsontable specific css (row highlighting even and selected) */

.hot .ht_master tr:nth-of-type(even)>td {
  background-color: hsl(199, 100%, 95%);
}

.hot .ht_master tr.foo>td {
  background-color: #1C90F3;
  color: white;
}

.hot .ht_master tr>td.foo {
  background-color: #1C90F3;
  color: white;
}

/* Split windows css */

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  box-shadow: inset 0 1px 2px #e4e4e4;
  background-color: #fff;
}

.gutter {
  background-color: #E6E6E6;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.split.split-horizontal,
.gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

/* Scroll bars*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar:focus {
  overflow: scroll;
  display: block;
  background: rgba(255, 0, 0, 0.5);
}

/* SYLES CHANGES BELOW */

#content {
  height: Calc(100vh - 20px);
  /* removes scollbar on main container div (i.e. content div) for some reason */
  overflow: hidden;
}

.content {
  overflow: auto;
}

/* .content {
  overflow:hidden;
}
.content:hover {
  overflow:auto;
} */

.ht_clone_bottom,
.ht_clone_left,
.ht_clone_top,
.ht_master {
  overflow: visible;
}

.ht_master .wtHolder {
  overflow: visible;
}

/* stop the absolute position thead srolling weirdly on horizontal scroll  */

.ht_clone_top,
.ht_clone_top .wtHider,
.ht_clone_top .wtHolder,
.handsontable .wtSpreader {
  width: auto !important;
}
