button, .btn,.btn-danger,.btn-success, .btn-danger {
  /*width:200px;*/
  width:100%;
  /* height:30px;*/
}

.content-wrapper {
  padding: 20px;
  background-color:#FFFFFF;
}


.skin-black .main-header>.logo {
  background-color: #000;
  color: #FFF;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #222;
}


.skin-black .main-header>.logo:hover {
  background-color: #000;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #000000;
}



.btn-inline {
  width:inherit;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1px;
  /*font-weight: 300;*/
}


.shiny-input-container:not(.shiny-input-container-inline){
  width : 100%;
}



.btn-browse {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.btn-browse input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

label.btn input[type="file"] {
  position: fixed;
  top: -1000px;
}

.btn-txt-left {
  text-align: left;
}

.btn {
  white-space: normal;
  border-radius:0px;
}

.panel-group .panel {
  border-radius:0px;
}


.selectize-control {
  width:100%;
  display : block;
}
.selectize-control.multi .selectize-input .item{
  display:block;
  /*box-sizing:border-box;*/
}

.am-square {
  /* padding-top:0px;*/
  /*background-color:#F9F9F9;*/
  background-color:#FFFFFF;
  border-radius: 0px;
  border:0px;
  box-shadow: 0 0 0 0;
  /*
  border-color:lightgray;*/
}

.amCenterTitle{
  text-align: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.amRowTable {
  margin-left:30px;
  margin-right:0px;
  margin-top:30px;
}

.amTableMargin {
  margin-left:20px;
}

#projName {
    text-transform: uppercase;
}




.am-progress-bar {
  padding: 5px 0px 5px 0px;
  background: #333;
  width: 90%;
  border-radius: 25px;
}

.am-progress-container {
  border: 1px solid #E3E3E3;
  /*padding: 0px 0px; */
  background: #F1F1F1;
  width: 100%;
  border-radius: 25px;
}


/* map css*/

#amPreviewMap {
  cursor:pointer;
}

#am-map-project {
  background-color:white;
}


/*duplicate from next sweet alert style definition ?*/
.amSweetHelp {
  text-align: left;
}


.sweet-alert p {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-overlay {
  z-index:1400;
}


/* AccessMod modal panel*/

.panel-modal {
  z-index:9998;
}


.panel-modal-background {
  opacity:0.3; 
  background: #000; 
  width:100%;
  height:100%; 
  z-index:9999;
  top:0; 
  left: 0; 
  position:fixed;
}



.panel-modal-title {
  margin: 30px;
  text-align : center;
  font-size : x-large;
}

.panel-modal-subtitle {
  margin: 30px;
  text-align : center;
  font-size : small;

}

.panel-modal-content {
  -webkit-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 38px -6px rgba(0,0,0,0.75);
  width:500px;
  z-index:10000;
  top:20%; 
  left:30%; 
  position:fixed;
  background-color: white;
  color:#000;
  padding: 20px 20px 20px 20px;
  cursor: move;
  opacity: 1;
} 


.panel-modal-buttons {
  margin-top:20px; 
  text-align:center;
  color:#000;
}

.panel-modal-text {
  height:60%;
  overflow-y:auto;
  margin:20px;
  width:90%;
  cursor:text;

}

.panel-overall {
  z-index : 100000
}




